<h1>Inbox:</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li class="letter">
      <%= link_to 'x', delete_letter_opener_letter_path(letter.name), method: :delete,
                  data: { confirm: 'Do you really want to delete this email?' }, class: 'letter-delete' %>
      <%= link_to "#{letter.updated_at} - #{letter.name}",
                  letter_opener_letter_path(letter.name, style: letter.default_style)
      %>
    </li>
  <% end %>
</ul>
